<h1>Restaurant</h1>
<br>
<%= render "form", restaurant: @restaurant %>
<br>
<%= link_to 'Back', restaurants_path %>
<br>
<h2>Reviews</h2>
<ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> | <%=  review.rating %></li>

    <% end %>
</ul>
<br>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
