<h1><%= @restaurant.name %></h1>
<br>
<h2>Address: </h2>
<p><%= @restaurant.address %></p>
<br>
<h2>Phone Number: </h2>
<p><%= @restaurant.phone_number %></p>
<br>
<h2>Category: </h2>
<p><%= @restaurant.category.capitalize %></p>
<br>
<%= link_to 'Back to home', restaurants_path, class: "btn btn-success"%>
<br>
<br>
<h2>Reviews</h2>
<br>
<ul>
  <% if @restaurant.reviews.empty? %>
    <li>Be the first to leave a review!</li>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> | <%=  'â­' * review.rating %></li>
      <h1><%= review.reviewer %></h1>
      <br>
    <% end %>
  <% end %>
</ul>
<br>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-warning"%>
